<%# subscribe_to "/messages/new" %>
<h1>Movie Database</h1>
<p><%= link_to 'Go To Movies', :controller => :movies %></p>
<p><%= link_to_function 'Growl', add_gritter("This is a notification just for you!") %></p>