
<div id="page">
  <div id="content">
    
    <div class="post">
      <h2 class="title"><a href="http://www.free-css.com/">Welcome to FrozenAge</a></h2>
      <div class="entry">
        <h3>A free CSS template by NodeThirtyThree for Free CSS Templates</h3>
        <img src="images/img06.jpg" alt="" width="132" height="72" class="left" />
        <p>This is <strong>FrozenAge</strong>, a free, fully standards-compliant CSS template designed by NodeThirtyThree for Free CSS Templates. The photos in this design are from PDPhoto.org.</p>
        <p>This free template is released under a <a href="http://www.free-css.com/">Creative Commons Attributions 2.5</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)  This design is also available as a WordPress theme at Free Wordpress Themes.</p>
      </div>
      <p class="meta">Posted on November 5, 2007 by <a href="http://www.free-css.com/">Someone</a> &nbsp;|&nbsp; <a href="http://www.free-css.com/">32 comments</a></p>
    </div>
    <div class="post">
      <h2 class="title"><a href="http://www.free-css.com/">Blandit volutpat consequat</a></h2>
      <div class="entry">
        <h3>Prom nec magna tempus lorem ipsum dolor</h3>
        <p>Proin nec magna. Proin nec massa sit amet purus congue molestie. Aliquam erat volutpat. Nulla pellentesque dolor non tellus. Duis vel elit sit amet ipsum vehicula varius. Vestibulum ante ipsum primis in <a href="http://www.free-css.com/">faucibus orci luctus et ultrices</a> posuere cubilia Curae; Suspendisse rhoncus. Nunc est. Praesent interdum lectus quis neque. Aliquam eros. Nulla fermentum dolor eget mi. Cras diam sapien, auctor non, malesuada at, tristique id, dui. Aenean congue ante. </p>
        <p>Proin nec magna. Proin nec massa sit amet purus congue molestie. Aliquam erat volutpat. Nulla pellentesque dolor non tellus. Duis vel elit sit amet <a href="http://www.free-css.com/">ipsum vehicula varius</a>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
      </div>
      <p class="meta">Posted on November 5, 2007 by <a href="http://www.free-css.com/">Someone</a> &nbsp;|&nbsp; <a href="http://www.free-css.com/">32 comments</a></p>
    </div>
  </div>
  <div id="sidebar">
    <ul>
      <li id="calendar">
        <table summary="Calendar">
          <caption>
          November 2007
          </caption>
          <thead>
            <tr>
              <th abbr="Monday" scope="col" title="Monday">M</th>
              <th abbr="Tuesday" scope="col" title="Tuesday">T</th>
              <th abbr="Wednesday" scope="col" title="Wednesday">W</th>
              <th abbr="Thursday" scope="col" title="Thursday">T</th>
              <th abbr="Friday" scope="col" title="Friday">F</th>
              <th abbr="Saturday" scope="col" title="Saturday">S</th>
              <th abbr="Sunday" scope="col" title="Sunday">S</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td abbr="October" colspan="3" id="prev"><a href="http://www.free-css.com/">&laquo; Oct</a></td>
              <td class="pad">&nbsp;</td>
              <td abbr="December" colspan="3" id="next"><a href="http://www.free-css.com/">Dec &raquo;</a></td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td colspan="3" class="pad">&nbsp;</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td id="today">5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
            </tr>
            <tr>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
            </tr>
            <tr>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td class="pad" colspan="2">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <h2>Etiam dolore</h2>
        <p>Nulla pellentesque dolor non tellus. Duis vel elit sit <a href="http://www.free-css.com/">amet ipsum vehicula</a> varius. Vestibulum ante ipsum primis in faucibus orci luctus.</p>
      </li>
      <li>
        <h2>Consequat lorem</h2>
        <ul>
          <li><a href="http://www.free-css.com/">Proin nec magna nec massa</a></li>
          <li><a href="http://www.free-css.com/">Sit amet purus congue</a></li>
          <li><a href="http://www.free-css.com/">Molestie aliquam erat volutpat</a></li>
          <li><a href="http://www.free-css.com/">Nulla pellentesque dolor</a></li>
          <li><a href="http://www.free-css.com/">Non tellus duis vel elit sit</a></li>
          <li><a href="http://www.free-css.com/">Amet ipsum vehicula varius</a></li>
          <li><a href="http://www.free-css.com/">Primis in faucibus orci luctus</a></li>
          <li><a href="http://www.free-css.com/">Vestibulum ante ipsum</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <p class="legal">Copyright (c) 2007 Website Name. All rights reserved.</p>
  <p class="credit">Designed by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
