<!DOCTYPE html>
<html>
  <head>
    <title>Moviedb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'some' %>
     <style type="text/css">
      .errors {
        color: red;
        padding-left: 15px;
      }
    </style>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
